.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  margin-right: 0.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 0;
  border-radius: 50%;
}

.container {
  display: flex;
  align-items: center;
}

.plus img {
  width: 0.625rem;
  height: 0.625rem;
}

.btnPlus {
  padding: 0.375rem 0.825rem 0.375rem 0.5rem;
}
