.status-badge {
  display: flex;
  align-items: center;
  padding: 0.8125rem 1.8125rem 0.75rem 1.875rem;
  transform: translateY(-1.25rem);
  border-radius: 0.375rem;
}

.status-badge__paid {
  background-color: rgba(51, 214, 159, 0.06);
}

.status-badge__circle {
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.3125rem;

}

.status-badge__circle-paid {
  background-color: #33d69f;
}

.status-badge__text {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: -0.0156rem;
}

.status-badge__text-paid {
  color: #33d69f;
}
