.dropDown {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-align: right;
  letter-spacing: -0.0156rem;
  color: #0c0e16;
}

.dropDown img {
  padding-left: 0.625rem;
}

.container {
  display: flex;
  position: relative;
}

.dropDownList {
  position: absolute;
  width: 120%;
  top: 104%;
  left: -20%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.625rem 1.25rem rgba(72, 84, 159, 0.25);
}

.dropDownList button {
  display: block;
}
