.subTitle {
  padding-top: 0.25rem;
  color: #888eb0;
}

.invoiceToolbar {
  display: flex;
  justify-content: space-between;
  width: 20.4375rem;
  margin: 2.125rem auto 2rem;
}
.actions {
  display: flex;
}

/* layout */

.actions button:nth-child(1) {
  margin-right: 1rem;
}
