.invoiceList {
  list-style: none;
  margin-bottom: 1.5rem;
}

.invoice {
  background-color: white;
  width: 20.4375rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 0.5rem;
}

.invoice .topContainer {
  display: flex;
  justify-content: space-between;
}

.clientName {
  color: #858bb2;
}

.hash {
  color: #7e88c3;
}

.topContainerInner {
  margin-bottom: 8px;
}

.invoiceNum {
  padding-bottom: 24px;
}

.dueDate {
  color: #7e88c3;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
}
