.backdrop {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.sideDrawer {
  width: 100%;
  padding: 32px 20px;
  background: white;
  /* border-radius: 10px; */
  text-align: center;
}
.sideDrawer button {
  color: #444;
  border-color: #444;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 24px;
}
.sideDrawer p {
  color: #444;
  font-weight: bold;
}
