* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0c0e16;
}

/* lists */

ul {
  list-style: none;
}

/* checkbox */

input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
}

/* headings */

h1 {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: -0.0625rem;
}

h2 {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.375rem;
  letter-spacing: -0.0391rem;
}

h3 {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.05rem;
}

h4 {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: -0.0156rem;
}

.sub-heading {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: -0.0156rem;
  color: #888eb0;

  margin-top: 0.25rem;
}

/* text */

.body-one {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: -0.0156rem;
}

.body-two {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 0.6875rem;
  line-height: 1.125rem;
  letter-spacing: -0.0143rem;
}

/* buttons */

.btn {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-align: center;
  letter-spacing: -0.0156rem;
  padding: 1.0313rem 24px;
  border-radius: 1.5rem;
}

.btn-default {
  background-color: #7c5dfa;
  color: #fff;
}

/* inputs */

label {
  color:#7E88C3;
  font-family: 'Spartan';
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: -0.0156rem;
}

input {
  width: 100%;
  background: #ffffff;
  border: 0.0625rem solid #dfe3fa;
  border-radius: 0.25rem;
  height: 3rem;
  padding: 1.25rem;
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: -0.0156rem;
}

input:focus,
input:focus-visible {
  outline: 0.0625rem solid #9277ff;
}

/* forms */

.form-group label {
  display: block;
  margin-top: 1.5rem;
}

.form-group input {
  margin-top: 0.625rem;
}

/* react toastify styling */

:root {
  /* --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db; */
  --toastify-color-success: #7c5dfa;
  /* --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info); */
  --toastify-icon-color-success: var(--toastify-color-success);
  /* --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0; */
  /* --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info); */
  --toastify-color-progress-success: var(--toastify-color-success);
  /* --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error); */
}

.toast-message-dark {
  background: #373b53;
  color: #fff;
}

.toast-message-dark svg {
  fill: #fff;
}
