@font-face {
  font-family: 'spartan';
  src: url('./fonts/spartan/Spartan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'spartan';
  src: url('./fonts/spartan/Spartan-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* headings */

h1 {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: -0.0625rem;
}

h2 {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.375rem;
  letter-spacing: -0.0391rem;
}

h3 {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.05rem;
}

h4 {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: -0.0156rem;
}

.sub-heading {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: -0.0156rem;
  color: #888eb0;

  margin-top: 0.25rem;
}

/* text */

.body-one {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: -0.0156rem;
}

.body-two {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 0.6875rem;
  line-height: 1.125rem;
  letter-spacing: -0.0143rem;
}

/* buttons */

.btn {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-align: center;
  letter-spacing: -0.0156rem;
  padding: 1.0313rem 24px;
  border-radius: 1.5rem;
}

.btn-default {
  background-color: #7c5dfa;
  color: #fff;
}

/* inputs */

label {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: -0.0156rem;
}

input {
  width: 100%;
  background: #ffffff;
  border: 0.0625rem solid #dfe3fa;
  border-radius: 0.25rem;
  height: 3rem;
  padding: 1.25rem;
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: -0.0156rem;
}

input:focus,
input:focus-visible {
  outline: 0.0625rem solid #9277ff;
}

/* forms */

.form-group label {
  display: block;
  margin-top: 1.5rem;
}

.form-group input {
  margin-top: 0.625rem;
}
