.container {
  height: 4.5rem;
  background-color: #373b53;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top:0;
  z-index: 2;
}
.innerContainer {
  display: flex;
  height: 100%;
  align-items: center;
}

.lightDarkButton {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 1.5006rem;
  border-right: 1px solid #494e6e;
}

.avatar {
  padding: 1.25rem 1.5rem;
}

button {
  all: unset;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    height: 5rem;
  }
}

@media screen and (min-width: 1440px) {
}
